In [4]:
import pandas as pd 
import os 
import glob
import numpy as np

In [2]:
csvs_path = r"C:\Users\jungeui_choi\OneDrive\Documentos\Poli\TPN\CENPES Descarbonização\data\route_wind_data_csvs\*"

csv_files = glob.glob(csvs_path)

len(csv_files)

144

In [5]:
def wind_dri(u10, v10):
    return np.degrees(np.arctan2(u10, v10)) % 360

In [ ]:
csv_file = csv_files[0]

df = pd.read_csv(csv_file)
df.head()
df['u_rel'] = df['u10'] - df['u_ship']
df['v_rel'] = df['v10'] - df['v_ship']
df['u_rel'] =

,Unnamed: 0,LAT,LON,u10,v10,angle_ship,angle_wind,time,u_ship,v_ship,u_rel,v_rel,angle_rel
0,0,-23.758190,-45.364452,-2.822388,-2.336868,80.775044,230.376083,2020-01-01 00:00:00,6.093505,0.989656,3.271117,-1.347212,112.384349
1,1,-23.758169,-45.364311,-2.822388,-2.336868,266.093458,230.376083,2020-01-01 00:00:02,-6.159004,-0.420585,-8.981392,-2.757454,252.932544
2,2,-23.758186,-45.364586,-2.822388,-2.336868,91.691485,230.376083,2020-01-01 00:00:06,6.170658,-0.182223,3.348270,-2.519091,126.956196
3,3,-23.758194,-45.364304,-2.822388,-2.336868,274.126822,230.376083,2020-01-01 00:00:11,-6.157341,0.444261,-8.979729,-1.892607,258.098281
4,4,-23.758181,-45.364506,-2.822388,-2.336868,317.533563,230.376083,2020-01-01 00:00:14,-4.167986,4.553912,-6.990374,2.217043,287.596768